
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder { color:#f00; font-size: 15px; font-weight: 400;}
::-moz-placeholder { color:#f00; font-size: 15px;font-weight: 400;} /* firefox 19+ */
:-ms-input-placeholder { color:#f00; font-size: 15px; font-weight: 400;} /* ie */
input:-moz-placeholder { color:#f00;  font-size: 15px;font-weight: 400;}

::-webkit-textarea-placeholder { color:#f00; font-size: 15px; font-weight: 400;}
::-moz-placeholder { color:#f00; font-size: 15px;font-weight: 400;} /* firefox 19+ */
:-ms-input-placeholder { color:#f00; font-size: 15px; font-weight: 400;} /* ie */
input:-moz-placeholder { color:#f00;  font-size: 15px;font-weight: 400;}





/*  POPUP*/

  /*Bootstrap */
h5{
  font-size:12px !important;
}
  .main-container{
    border: 2px solid #0818a8;
    height: auto;
  }

  .borders{
    border: 2px solid #0818a8;
  }
  .left-box{
    height: 150px;

  }

  .left-box img{
    vertical-align: middle;
    border-style: none;
    width: 50%;
    height: 146px;
  }
  .right-box{
    height: 150px;
  }

  .right-box img{
    width: 112%;
    height: 146px;
  }

  .middle-box{
    color: #0818a8;
  }

  .middle-box h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
  }

  .middle-box img{
    width: 170px;
    height: 27px;
    margin-bottom: 10px;
    margin-top: 10px;

  }
  .middle-box h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
  }

  .vission-report{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0818a8;
    margin-top: 4px;
  }

  .vission-report h5{
    margin: 0;
  }

  .vission-report h3{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  .vission-report .ver{
    width: 130px;
    font-size: 12px;
  }

  .vission-report .datePicker{
    width: 130px;
    font-size: 12px;
  }

  .patient-details{
    height: auto;
    margin-top: 4px;
    color: #0818a8;
    padding: 20px auto;
  }

  .patient-details h5{
    padding-right: 10px;
  }
  .patient-details select.form-control{
    padding: 0;
    height: 20px;
    line-height: 0;
    font-size: 12px;
    font-weight: bold;
  }

  .patient-details .name , .patient-details .age{
    font-size: 20px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }

  input {
    font-size: 20px;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
 .pt-1{
  padding-top: 10px !important;
 }

 .pt-2{
  padding-top: 20px;
 }

 .pb-1{
  padding-bottom: 10px !important;
 }

 .pb-2{
  padding-bottom: 20px !important;
 }
 
 .p-0{
  padding: 0 !important;
 }

 .pr-0{
  padding-right: 0 !important;
 }
 .pl-0{
  padding-left: 0 !important;
 }

 .mb-1{
  margin-bottom: 10px !important;
 }
 .mb-2{
  margin-bottom: 20px !important;
 }

 .mt-1{
  margin-top: 10px !important;
 }

 .mt-2{
  margin-top: 20px !important;
 }

 .pl-2{
  padding-left: 20px !important;
 }
 .pr-2{
  padding-right: 20px !important;
 }

 input.address{
  width:100%;
 }

 .chief-complain{
  color: #0818a8;
 }

input.cheifComplains{
  width:100%;
}
.history-box{
  background-color: #0818a8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 7px 0;
  line-height: 22px;
}

.treatment-box{
  background-color: #0818a8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 7px 0;
  line-height: 22px;
}
.history-treatment p{
  color: #0818a8;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
}

.history-treatment input{
  width : 100%;
}
.btn{
  margin-left: 200px;
  margin-bottom: 0px;
  margin-top: 20px;
}
table th{
  padding : 2px 5px !important;
  background-color: #ceee1c;
}
table td{
  padding : 0px 5px !important;
}
table tr{
  padding : 0px 5px !important;
}

.zero{
  visibility: hidden;
}

p.copyright{
  text-decoration: dashed;
  color: rgb(52, 7, 216);
  font-size: 10px;
  font-style: italic;
  margin-bottom: 0;
}

.modal-body{
  padding: 0 !important;
}

.close {
  font-size: 42px !important;
  color: #f00 !important;
  opacity: 1 !important;
  padding-right: 10px !important;
}
/* Style for the marquee */
.marquee {
  font-size: 16px;
  font-weight: bold;
  color: #fc1414; /* You can adjust the color as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  animation: marquee 10s linear infinite; /* Animation properties */
}

.marquee img{
  width: 100px;
  height: 40px;
}
/* Keyframes for the marquee animation */

/*Expired Page CSS starts*/
.expired-body {
  background: rgba(96, 196, 196, .3);
  font-family: 'Open-sans', sans-serif;
}
svg {
  width: 30%;
  margin: 0 5% 3vh !important;
}

.st0{fill:#EFCBB4;}
.st1{fill:#FFE1CA;}
.st2{fill:#473427;}
.st3{
    fill:none;
    stroke:#473427;
    stroke-width:7;
    stroke-linecap:round;
    stroke-miterlimit:10;
}
.st4{fill:#D37D42;stroke:#D37D42;stroke-miterlimit:10;}

.smile {
  display: none;
}
.uhoh {
  display: none;
}
path.smile {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 6;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 7s infinite linear;
  }
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
#path {
  stroke-dasharray: 628.3185307179587;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 628.3185307179587;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.message {
  float: right;
  margin: 10em 10em 0 0;
  padding: 0 2em;
}
.message h1 {
  color: #3698DC;
  font-size: 3vw !important;
  font-weight: 400;
}
.message p {
  color: #262C34;
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 1.1em;
}
.light {
  position: relative;
  top: -36em;
}
.light_btm {
  position: relative;
}
.light span:first-child {
  display: block;
  height: 6px;
  width: 150px;
  position: absolute;
  top:5em;
  left: 20em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}
.light span:nth-child(2) {
  display: block;
  height: 6px;
  width: 200px;
  position: absolute;
  top:6em;
  left: 19em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}
.light span:nth-child(3) {
  display: block;
  height: 6px;
  width: 100px;
  position: absolute;
  top:7em;
  left: 24em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}

.light_btm span:first-child {
  display: block;
  height: 6px;
  width: 150px;
  position: absolute;
  bottom:6em;
  right: 20em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}
.light_btm span:nth-child(2) {
  display: block;
  height: 6px;
  width: 200px;
  position: absolute;
  bottom: 7em;
  right: 21em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}
.light_btm span:nth-child(3) {
  display: block;
  height: 6px;
  width: 100px;
  position: absolute;
  bottom:8em;
  right: 24em;
  background: #fff;
  border-radius: 3px;
/*   transform: rotate(40deg); */
}
.use-desktop {
  font-weight: 400;
  color: #3698DC;
  border: 1px solid white;
  height: 3.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 25px;
  line-height: 1.1em;
  font-size: 5vw;
}

/*Expired Page CSS Ends*/
